@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --light-grey: #9B9B9B;
  --text-dark-grey: #6F6F6F;
}

html, body {
  height: 100%;
  margin: 0; 
}

.app-container {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  height: 100vh; 
}

.header, .header-right-section, .header-icon-image-right-section, .body {
  display: flex;
  flex-direction: row;
}

.header {
  padding: 1.5rem 3rem 0.2rem 2rem;
  border-bottom: 1px solid var(--light-grey);
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  font-weight: 500;
}

.header h1 {
  font-size: 1.6rem;
  font-weight: 500;
}

.header-icon-image-right-section {
  align-items: center;
  margin-left: 2.5rem;
  gap: 0.25rem;
  font-weight: 500;
}

.header-icon-image-right-section img {
  width: 1.4rem;
  height: 1.4rem;
}


.body {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem 3rem 3rem 2rem;
}

.instructions-container {
  padding: 0rem .65rem 1rem .65rem;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid var(--light-grey);
  border-radius: 10px;
  width: 12rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.instructions-container p {
  font-weight: 500;
  font-size: 0.95rem;
  color: var(--text-dark-grey);
}

.data-inst-container{
  border: 1px solid var(--light-grey);
  padding: 0.5rem;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.data-inst-container h5 {
  color: var(--text-dark-grey);
  padding: 0;
  margin: 0;
}